
configuration {
	font: "CaskaydiaCoveNerdFont 12";
	location: 0;
	show-icons: true;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
// @theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
* {
  background-color: rgb(0, 0, 0, 0.7);
  transparent: rgb(22, 22, 24, 0.0);
  text-color: #969696;
  selected-background: rgb(40, 39, 39, 0);
  selected-text: #c5c9c5;
  border-color: #F0C674;
  cursor-color: #F0C674;  /* Change to your preferred cursor color */
}

window {
  background-color: @background-color;
  border: 2px;
  border-color: @text-color;
  padding: 5px;
  width: 40%;
  height: 50%;
  fixed-width: true;
  fixed-height: true;
  border-radius: 10px;
}

mainbox {
  border: 0;
  padding: 0;
  background-color: @transparent;
}

listview {
  fixed-height: false;
  border: 0;
  spacing: 2px;
  scrollbar: true;
  padding: 2px 0 0;
  lines: 10;  /* Number of visible rows */
  background-color: @transparent;
}

element {
  border: 0;
  padding: 8px 12px;  /* Adjust for taller rows */
  height: 24px;       /* Explicit height */
  background-color: @transparent;
}

element normal.normal {
  background-color: @transparent;
  text-color: @text-color;
}

element selected.normal {
  background-color: @transparent;
  text-color: @selected-text;
}

element alternate.normal {
  background-color: @transparent;
  text-color: @text-color;
}

scrollbar {
  width: 4px;
  handle-width: 8px;
  handle-color: @transparent;
  background-color: @transparent;
}

inputbar {
  spacing: 0;
  padding: 4px;
  text-color: @text-color;
  background-color: @transparent;
  cursor-color: @cursor-color;
  color: @cursor-color;
}

entry {
  /* Add or modify your entry section */
  cursor: text;
  cursor-color: @cursor-color;
  text-color: @text-color;
  background-color: @transparent;
}

prompt, textbox-prompt-sep, textbox-prompt-colon, num-rows, num-filtered-rows, case-indicator, textbox-num-sep {
  text-color: @cursor-color;
  background-color: @transparent;
}


// @theme "/usr/share/rofi/themes/arthur.rasi"
